.services-section {
  background-color: var(--yellow);
  --max-width-size: 1195;
  --min-width-size: 320;
  width: var(--responsive-width-size);
  text-align: start;
}

.services-section .services-section-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 130px;
  padding-top: calc((20 * 1px) + (60 - 20) * ((100vw - var(--min-port-width) * 1px) / (var(--max-port-width) - var(--min-port-width))));
  padding-bottom: calc((20 * 1px) + (60 - 20) * ((100vw - var(--min-port-width) * 1px) / (var(--max-port-width) - var(--min-port-width))));
  padding-left: calc((20 * 1px) + (130 - 20) * ((100vw - var(--min-port-width) * 1px) / (var(--max-port-width) - var(--min-port-width))));
  padding-right: calc((20 * 1px) + (130 - 20) * ((100vw - var(--min-port-width) * 1px) / (var(--max-port-width) - var(--min-port-width))));
}

.services-section .services-section__header {
  --max-font-size: 128;
  --min-font-size: 38;
  font-size: var(--responsive-font-size);
  color: #191919;
  text-align: start;
  width: 100%;
}

.services-section .service-option {
  display: flex;
  flex-direction: column;
  margin-top: calc((30 * 1px) + (80 - 30) * ((100vw - var(--min-port-width) * 1px) / (var(--max-port-width) - var(--min-port-width))));
}

.services-section .service-option__header {
  --max-width-size: 950;
  --min-width-size: 290;
  width: var(--responsive-width-size);
  --max-font-size: 64;
  --min-font-size: 20;
  font-size: var(--responsive-font-size);
  background-color: white;
  padding: calc((10 * 1px) + (30 - 10) * ((100vw - var(--min-port-width) * 1px) / (var(--max-port-width) - var(--min-port-width)))) 0;
  border-radius: 70px;
  color: #2b2b2b;
  text-align: center;
}

.services-section .service-option__price {
  display: flex;
  margin-top: calc((10 * 1px) + (50 - 10) * ((100vw - var(--min-port-width) * 1px) / (var(--max-port-width) - var(--min-port-width))));
  --max-font-size: 44;
  --min-font-size: 16;
  font-size: var(--responsive-font-size);
  color: #2b2b2b;
}

.services-section .service-option__cost {
  flex-basis: calc((80 * 1px) + (190 - 80) * ((100vw - var(--min-port-width) * 1px) / (var(--max-port-width) - var(--min-port-width))));
  white-space: nowrap;
}

.services-section .service-option__description {
  white-space: pre-line;
  width: min-content;
  font-size: inherit;
  flex-grow: 1;
}

.services-section .services-section__button {
  font-family: 'Yeseva One', Arial, sans-serif;
  margin-top: calc((30 * 1px) + (100 - 30) * ((100vw - var(--min-port-width) * 1px) / (var(--max-port-width) - var(--min-port-width))));
}
